<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.gloop.tasks">

    <!-- Give internet access to gloop f -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="io.gloop.tasks.activities.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="io.gloop.tasks.activities.LoginActivity"
            android:label="@string/text_login_activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="io.gloop.tasks.activities.MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d0f1e70e1d5744ad206e0eff1cd3c02cb3a2e4ab" />
    </application>

    <meta-data
        android:name="io.gloop.ApiKey"
        android:value="2296eac9-67d8-4b84-9e7c-e6bd3777e346"/>

</manifest>